[submodule "Donostia/animal-shelter-AI"]
	path = Donostia/animal-shelter-AI
	url = https://github.com/BZaldua/animal-shelter-AI.git
[submodule "Donostia/SaturdaysAI_vol.1"]
	path = Donostia/SaturdaysAI_vol.1
	url = https://github.com/Juan-glitch/SaturdaysAI_vol.1.git
[submodule "Donostia/AISaturdays-depresion-rrss"]
	path = Donostia/AISaturdays-depresion-rrss
	url = https://github.com/serNAVARRO7/AISaturdays-depresion-rrss.git
[submodule "Donostia/Facial_Expression_Saturdays"]
	path = Donostia/Facial_Expression_Saturdays
	url = https://github.com/Isegu/Facial_Expression_Saturdays.git
[submodule "Donostia/AI-Learn-to-invest"]
	path = Donostia/AI-Learn-to-invest
	url = https://github.com/ImanolR87/AI-Learn-to-invest.git
[submodule "Donostia/algorithmic_marketing"]
	path = Donostia/algorithmic_marketing
	url = https://github.com/dorronsoro/algorithmic_marketing.git
[submodule "Guadalajara/November2019/saturdaysai_projectteam1"]
	path = Guadalajara/November2019/saturdaysai_projectteam1
	url = https://bitbucket.org/PattPatt/saturdaysai_projectteam1.git
[submodule "Guadalajara/November2019/SaturdaysAI_Project_T2"]
	path = Guadalajara/November2019/SaturdaysAI_Project_T2
	url = https://github.com/marcos862/SaturdaysAI_Project_T2.git
[submodule "Guadalajara/November2019/SAI-E3-HEART"]
	path = Guadalajara/November2019/SAI-E3-HEART
	url = https://github.com/RodCaba/SAI-E3-HEART.git
[submodule "Guadalajara/November2019/ceneval"]
	path = Guadalajara/November2019/ceneval
	url = https://github.com/ricnef2121/ceneval.git
[submodule "Guadalajara/November2019/saturdays.ai"]
	path = Guadalajara/November2019/saturdays.ai
	url = https://github.com/gustavosantoscoy/saturdays.ai.git
[submodule "Guadalajara/November2019/EQUIPO-6-SECURITY"]
	path = Guadalajara/November2019/EQUIPO-6-SECURITY
	url = https://github.com/Neli-Torres/EQUIPO-6-SECURITY.git
[submodule "Guadalajara/November2019/wageForcasterMx"]
	path = Guadalajara/November2019/wageForcasterMx
	url = https://github.com/E7SATAI/wageForcasterMx.git
[submodule "Guadalajara/November2019/AvocadoCNN"]
	path = Guadalajara/November2019/AvocadoCNN
	url = https://github.com/ineszetter/AvocadoCNN.git
[submodule "Guadalajara/July2020/OrganDP"]
	path = Guadalajara/July2020/OrganDP
	url = https://github.com/azbit0/OrganDP.git
[submodule "Guadalajara/July2020/datasets"]
	path = Guadalajara/July2020/datasets
	url = https://github.com/saturdaysai-gdl2-plata/datasets.git
[submodule "Guadalajara/July2020/AI.rbike"]
	path = Guadalajara/July2020/AI.rbike
	url = https://github.com/JacoboDB/AI.rbike.git
[submodule "Guadalajara/July2020/Saturdays.ai-Equipo-Naranja"]
	path = Guadalajara/July2020/Saturdays.ai-Equipo-Naranja
	url = https://github.com/RebeNura/Saturdays.ai-Equipo-Naranja.git
[submodule "Guadalajara/July2020/covid19"]
	path = Guadalajara/July2020/covid19
	url = https://github.com/saturdays-equipo3/covid19.git
[submodule "Guadalajara/July2020/Hospitals-Nearb-AI-Me"]
	path = Guadalajara/July2020/Hospitals-Nearb-AI-Me
	url = https://github.com/luischitala/Hospitals-Nearb-AI-Me.git
[submodule "Guadalajara/July2020/Sermone"]
	path = Guadalajara/July2020/Sermone
	url = https://github.com/omar-bracamontes-zavala/Sermone.git
[submodule "Hermosillo/November2019/Crime"]
	path = Hermosillo/November2019/Crime
	url = https://github.com/DiaDeMuertos/Crime.git
[submodule "Hermosillo/November2019/ProyectosHMO"]
	path = Hermosillo/November2019/ProyectosHMO
	url = https://github.com/SaturdaysAI-HMO/ProyectosHMO.git
[submodule "Monterrey/January2020/SaturdaysAI_agua"]
	path = Monterrey/January2020/SaturdaysAI_agua
	url = https://github.com/alejandragza/SaturdaysAI_agua.git
[submodule "Monterrey/January2020/SaturdaysAI_Fem"]
	path = Monterrey/January2020/SaturdaysAI_Fem
	url = https://github.com/berenicehdr/SaturdaysAI_Fem.git
[submodule "Monterrey/January2020/MtySaturdayAI2020"]
	path = Monterrey/January2020/MtySaturdayAI2020
	url = https://github.com/StavroK/MtySaturdayAI2020.git
[submodule "Monterrey/January2020/SaturdaysAI"]
	path = Monterrey/January2020/SaturdaysAI
	url = https://github.com/rodolfobetanzos/SaturdaysAI.git
[submodule "Monterrey/January2020/Proyecto_SaturdaysAI"]
	path = Monterrey/January2020/Proyecto_SaturdaysAI
	url = https://github.com/ArnoldoOliva/Proyecto_SaturdaysAI.git
[submodule "Monterrey/January2020/saturdaysAI20"]
	path = Monterrey/January2020/saturdaysAI20
	url = https://github.com/jesuss83/saturdaysAI20.git
[submodule "Monterrey/January2020/00SaturdayAI_2020_AB"]
	path = Monterrey/January2020/00SaturdayAI_2020_AB
	url = https://github.com/DirceoQA/00SaturdayAI_2020_AB.git
[submodule "Santiago/Agosto2019/project-saturdays_AI"]
	path = Santiago/Agosto2019/project-saturdays_AI
	url = https://github.com/mirelys/project-saturdays_AI.git
[submodule "Santiago/Agosto2019/SID"]
	path = Santiago/Agosto2019/SID
	url = https://github.com/soriaster/SID.git
[submodule "Sevilla/July2019/Cancer.Bot"]
	path = Sevilla/July2019/Cancer.Bot
	url = https://github.com/MrManlu/Cancer.Bot.git
[submodule "Sevilla/July2019/app_sign_language"]
	path = Sevilla/July2019/app_sign_language
	url = https://github.com/ai-sign-language/app_sign_language.git
[submodule "Sevilla/July2019/EnergyDissagregation"]
	path = Sevilla/July2019/EnergyDissagregation
	url = https://github.com/joaqrus/EnergyDissagregation.git
[submodule "Sevilla/July2019/SaturdaysAI"]
	path = Sevilla/July2019/SaturdaysAI
	url = https://github.com/MaribelLuque/SaturdaysAI.git
[submodule "Tarragona/July2018/sat4survive"]
	path = Tarragona/July2018/sat4survive
	url = https://github.com/apolmig/sat4survive.git
[submodule "Tarragona/July2018/ai4smartcities"]
	path = Tarragona/July2018/ai4smartcities
	url = https://github.com/sfrias/ai4smartcities.git
[submodule "Tarragona/July2018/project_ai"]
	path = Tarragona/July2018/project_ai
	url = https://github.com/gerardp/project_ai.git
[submodule "Tarragona/July2018/IcGAN"]
	path = Tarragona/July2018/IcGAN
	url = https://github.com/apolmig/IcGAN.git
[submodule "Tarragona/July2018/place2plug"]
	path = Tarragona/July2018/place2plug
	url = https://github.com/sfrias/place2plug.git
[submodule "Madrid/May2019/alzheimer"]
	path = Madrid/May2019/alzheimer
	url = https://github.com/pcuenca/alzheimer.git
[submodule "Madrid/May2019/WhereIsThePollution"]
	path = Madrid/May2019/WhereIsThePollution
	url = https://github.com/whereisthepollution/WhereIsThePollution.git
[submodule "Madrid/May2019/boeanalytics"]
	path = Madrid/May2019/boeanalytics
	url = https://github.com/Lawlesscodelen/boeanalytics.git
[submodule "Madrid/May2019/Proyecto_Final_Pilates"]
	path = Madrid/May2019/Proyecto_Final_Pilates
	url = https://github.com/estelabalboa/Proyecto_Final_Pilates.git
[submodule "Madrid/May2019/AISaturdaysProject"]
	path = Madrid/May2019/AISaturdaysProject
	url = https://github.com/Deurru/AISaturdaysProject.git
[submodule "Madrid/May2019/dcgan_cities"]
	path = Madrid/May2019/dcgan_cities
	url = https://github.com/illpack/dcgan_cities.git
[submodule "Madrid/May2019/bookanimation"]
	path = Madrid/May2019/bookanimation
	url = https://github.com/bookanimation/bookanimation.git
[submodule "Madrid/May2019/SaturdaysAI_NLP"]
	path = Madrid/May2019/SaturdaysAI_NLP
	url = https://github.com/mgonzalezalted/SaturdaysAI_NLP.git
[submodule "Madrid/Dec2019/Dr_Cervantes_AI_Saturday_Madrid"]
	path = Madrid/Dec2019/Dr_Cervantes_AI_Saturday_Madrid
	url = https://github.com/poziryna84/Dr_Cervantes_AI_Saturday_Madrid.git
[submodule "Madrid/Dec2019/exonet"]
	path = Madrid/Dec2019/exonet
	url = https://github.com/ebasanez/exonet.git
[submodule "Madrid/Dec2019/AneurAI-AISaturdays-Madrid"]
	path = Madrid/Dec2019/AneurAI-AISaturdays-Madrid
	url = https://github.com/algadoc/AneurAI-AISaturdays-Madrid.git
[submodule "Madrid/Dec2019/Melanoma_Recognizer"]
	path = Madrid/Dec2019/Melanoma_Recognizer
	url = https://github.com/ProyectoMSAI/Melanoma_Recognizer.git
[submodule "Madrid/Dec2019/EEG_epilepsia"]
	path = Madrid/Dec2019/EEG_epilepsia
	url = https://github.com/Jango-ai/EEG_epilepsia.git
[submodule "Madrid/Dec2019/somvra"]
	path = Madrid/Dec2019/somvra
	url = https://github.com/aicitymaps/somvra.git
[submodule "Madrid/Dec2019/models"]
	path = Madrid/Dec2019/models
	url = https://github.com/brainmusic/models.git
[submodule "Madrid/Dec2019/EMT-project"]
	path = Madrid/Dec2019/EMT-project
	url = https://github.com/ravyoli314/EMT-project.git
[submodule "Madrid/May2020/brain-controlled-game"]
	path = Madrid/May2020/brain-controlled-game
	url = https://github.com/Jango-ai/brain-controlled-game.git
[submodule "Madrid/May2020/democracy"]
	path = Madrid/May2020/democracy
	url = https://github.com/FranGarciaBis/democracy.git
[submodule "Madrid/May2020/GestIA"]
	path = Madrid/May2020/GestIA
	url = https://github.com/PaburoTC/GestIA.git
[submodule "Madrid/May2020/programas_politicos"]
	path = Madrid/May2020/programas_politicos
	url = https://github.com/omartinma/programas_politicos.git
[submodule "Madrid/May2020/Chatbot"]
	path = Madrid/May2020/Chatbot
	url = https://github.com/marpigr/Chatbot.git
[submodule "Madrid/May2020/Stress-Wearables"]
	path = Madrid/May2020/Stress-Wearables
	url = https://github.com/nicoccr/Stress-Wearables.git
[submodule "Madrid/May2020/exodus"]
	path = Madrid/May2020/exodus
	url = https://github.com/patcalsi/exodus.git
[submodule "Madrid/May2020/Renewable-EnergIA"]
	path = Madrid/May2020/Renewable-EnergIA
	url = https://github.com/emmaqueen/Renewable-EnergIA.git
[submodule "Madrid/May2020/ADL"]
	path = Madrid/May2020/ADL
	url = https://github.com/AD-PR/ADL.git
[submodule "Madrid/May2020/ChatbotDL"]
	path = Madrid/May2020/ChatbotDL
	url = https://github.com/Daammon/ChatbotDL.git
[submodule "Madrid/May2020/SATURDAYS.AI-Trash-Segmentation"]
	path = Madrid/May2020/SATURDAYS.AI-Trash-Segmentation
	url = https://github.com/Pablo404/SATURDAYS.AI-Trash-Segmentation.git
[submodule "Madrid/May2020/samur.ai"]
	path = Madrid/May2020/samur.ai
	url = https://github.com/ebasanez/samur.ai.git
[submodule "Madrid/May2020/ai-saturdays-ml-project"]
	path = Madrid/May2020/ai-saturdays-ml-project
	url = https://github.com/jmlora/ai-saturdays-ml-project.git
[submodule "Guadalajara/March2021/Healt-bot-project"]
	path = Guadalajara/March2021/Healt-bot-project
	url = https://github.com/YellowTeam/Healt-bot-project.git
[submodule "Guadalajara/March2021/bienestar.ai"]
	path = Guadalajara/March2021/bienestar.ai
	url = https://github.com/macavimavi/bienestar.ai.git
[submodule "Guadalajara/March2021/Aistocks"]
	path = Guadalajara/March2021/Aistocks
	url = https://github.com/jarturoa/Aistocks.git
[submodule "Guadalajara/March2021/EmotionsDetector"]
	path = Guadalajara/March2021/EmotionsDetector
	url = https://github.com/chacoff/EmotionsDetector.git
[submodule "Madrid/March2021/AIstrophysics"]
	path = Madrid/March2021/AIstrophysics
	url = https://github.com/guillermoayllon/AIstrophysics.git
[submodule "Madrid/March2021/hate_blockers_project"]
	path = Madrid/March2021/hate_blockers_project
	url = https://github.com/b-nAIce/hate_blockers_project.git
[submodule "Madrid/March2021/KalokagathIA"]
	path = Madrid/March2021/KalokagathIA
	url = https://github.com/DavidLeirado/KalokagathIA.git
[submodule "Madrid/March2021/oculAI"]
	path = Madrid/March2021/oculAI
	url = https://github.com/conneyml/oculAI.git
[submodule "Madrid/March2021/PAIthology"]
	path = Madrid/March2021/PAIthology
	url = https://github.com/atinrov/PAIthology.git
[submodule "Madrid/March2021/BeesAIve"]
	path = Madrid/March2021/BeesAIve
	url = https://github.com/tuky-g/BeesAIve.git
[submodule "Madrid/March2021/scrapercatastro"]
	path = Madrid/March2021/scrapercatastro
	url = https://github.com/Smart-Cities-AI/scrapercatastro.git
[submodule "Madrid/March2021/GANsnRoses/deploy"]
	path = Madrid/March2021/GANsnRoses/deploy
	url = https://github.com/GANs-N-Roses/deploy.git
[submodule "Madrid/March2021/GANsnRoses/transformer"]
	path = Madrid/March2021/GANsnRoses/transformer
	url = https://github.com/GANs-N-Roses/transformer.git
[submodule "Madrid/March2021/GANsnRoses/image"]
	path = Madrid/March2021/GANsnRoses/image
	url = https://github.com/GANs-N-Roses/image.git
[submodule "Madrid/June2022/ProffesorX"]
	path = Madrid/June2022/ProffesorX
	url = https://github.com/albarc3/ProfessorX-Project.git
[submodule "Madrid/June2022/CyclingMadrid"]
	path = Madrid/June2022/CyclingMadrid
	url = https://github.com/tuky-g/SatAi_BicycleFriendlyPath.git
[submodule "Madrid/June2022/AImagining-tales"]
	path = Madrid/June2022/AImagining-tales
	url = https://github.com/pablorl94/AImagining-tales.git
[submodule "Madrid/June2022/Deepfake-detection"]
	path = Madrid/June2022/Deepfake-detection
	url = https://github.com/aaronespasa/deepfake-detection.git
[submodule "Madrid/June2022/New-Earths"]
	path = Madrid/June2022/New-Earths
	url = https://github.com/munibaso/Detecting-exoplanets.git
[submodule "Madrid/June2022/Smurf-busters"]
	path = Madrid/June2022/Smurf-busters
	url = https://github.com/svillahermosa/ml-lol.git
[submodule "Madrid/June2022/Mental-HeAIlth"]
	path = Madrid/June2022/Mental-HeAIlth
	url = https://github.com/Egokitek/Deteccion_Depresion_RRSS_SaturdaysAI.git
[submodule "Madrid/June2022/Mental-HeAIlth"]
	path = Madrid/June2022/Mental-HeAIlth
	url = https://github.com/Egokitek/Deteccion_Depresion_RRSS_SaturdaysAI.git
