<thead>
<tr class="table-success">
    <th style="text-align:center">Summoner Name</th>
    <th style="text-align:center">Smurf Percentage</th>
</tr>
</thead>
<tbody>
{% for index, field in data.iterrows %}
         {% if field.percentage >= 70 %}
        <tr class="table-success">
         <td style="text-align:center; background-color: #ff000042">{{ field.summonerName }}</td>
         <td style="text-align:center;  background-color: #ff000042">{{ field.percentage }}</td>
         </tr>
         {% elif field.percentage < 70  and field.percentage > 40 %}
        <tr class="table-success">
         <td style="text-align:center; background-color: #ffff0052">{{ field.summonerName }}</td>
         <td style="text-align:center; background-color: #ffff0052">{{ field.percentage }}</td>
         </tr>
         {% else %}
        <tr class="table-success">
         <td style="text-align:center">{{ field.summonerName }}</td>
         <td style="text-align:center">{{ field.percentage }}</td>
         </tr>
        {% endif %}
{% endfor %}
</tbody>
