/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/10/2014, 04:13:27 PM
    Author     : martosfre - Msc. Marco Antonio Toscano Freire
*/

/*
.fondo {
	background: #d8e0de;
	background: -moz-linear-gradient(top, #d8e0de 0%, #aebfbc 22%, #99afab 33%, #8ea6a2 50%, #829d98 67%, #4e5c5a 82%, #0e0e0e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d8e0de), color-stop(22%,#aebfbc), color-stop(33%,#99afab), color-stop(50%,#8ea6a2), color-stop(67%,#829d98), color-stop(82%,#4e5c5a), color-stop(100%,#0e0e0e));
	background: -webkit-linear-gradient(top, #d8e0de 0%,#aebfbc 22%,#99afab 33%,#8ea6a2 50%,#829d98 67%,#4e5c5a 82%,#0e0e0e 100%);
	background: -o-linear-gradient(top, #d8e0de 0%,#aebfbc 22%,#99afab 33%,#8ea6a2 50%,#829d98 67%,#4e5c5a 82%,#0e0e0e 100%);
	background: -ms-linear-gradient(top, #d8e0de 0%,#aebfbc 22%,#99afab 33%,#8ea6a2 50%,#829d98 67%,#4e5c5a 82%,#0e0e0e 100%);
	background: linear-gradient(to bottom, #d8e0de 0%,#aebfbc 22%,#99afab 33%,#8ea6a2 50%,#829d98 67%,#4e5c5a 82%,#0e0e0e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8e0de', endColorstr='#0e0e0e',GradientType=0 );
	height: 800px;
}*/
.divFondo {
	padding-top: 100px;
	padding-left: 200px;
	width: 1090px;
	height: 768px;
	background-repeat: no-repeat;
	background-position: right top, right bottom, 4px 0;
	background-image: url(#{ resource [ 'img:fondoSisnova.png' ]
}

)
!
important


















;
}

/*Estilo para el titulo de un formulario*/
.titulo {
	font-weight: bold;
	font-size: 13px;
	font-style: normal;
	font-family: arial;
	color: white;
	/*color: #074269;*/
}

/*Estilo para el subtítulo*/
.subtitulo {
	font-weight: bold;
	font-size: 13px;
	font-style: normal;
	font-family: arial;
	color: white;
}

/*Estilo para maquetar la etiqueta de campos en un formulario*/
.etiqueta {
	font-weight: bold !important;
	color: #004C99;
}

/* Estilos para modificar las etiquetas de los campos requeridos */
.etiquetaReq {
	font-weight: bold !important;
	color: #004C99;
}

.etiquetaReq:after {
	content: " *";
	color: #FE9A2E;
}

/**Forma  de utilizar una imagen a traves de resources JSF*/
.fondoHeader {
	background-image: url(#{ resource [ 'img:banner3.png' ]
}

)
!
important


















;
}
.tituloPri {
	font-family: 'Arial', sans-serif;
	font-size: 17px;
	font-weight: bold;
	border-color: activeborder;
	color: #004C99;
	width: 766px;
}

/*Estilo general para todos los componentes */
.ui-widget {
	font-size: 12px !important;
	font-family: Helvetica;
	font-style: normal;
}

/*Estilo para el datatable paginator*/
.ui-paginator .ui-paginator-current, .ui-paginator .ui-paginator-rpp-options
	{
	font-size: 11px !important;
}

.ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-next,
	.ui-paginator .ui-paginator-last, .ui-paginator .ui-paginator-first,
	.ui-paginator .ui-paginator-prev {
	font-size: 11px !important;
}

/*Estilo para las columnas de un componente: Datable*/
.ui-datatable .ui-column-filter {
	width: 150px !important;
	font-size: 11px !important;
}

.ui-column-title {
	color: #424242;
	font-weight: bold;
}

/*Estilo para la cabecera del treetable*/
.ui-treetable-header {
	color: #203A5D !important;
	font-weight: bold;
}

/*Estilo para el titulo del panel*/
.ui-panel .ui-panel-title {
	font-weight: bold;
	font-size: 14px;
	color: white;
}

/*Estilo para maquetar el fieldset  */
.ui-fieldset, .ui-fieldset .ui-fieldset-legend {
	color: #074269;
}

/*Estilo para aplicar a los componentes por defecto*/
.ui-state-default {
	background-color: #F3F4F5 !important;
}

/*Estilo para las cabeceras de los componentes */
.ui-widget-header {
	background: #203A5D !important;
	color: white !important;
	border-color: white !important;
}

.ui-wizard-step-title {
	font-size: 12px !important;
}

/**Estilo para los componentes de texto*/
.ui-inputfield {
	width: 250px !important;
	font-size: 11px !important;
}

/*Estilo para combo box de Metas visor */
.comboMetas .ui-selectonemenu {
	width: 1000px !important;
}

.comboMetas .ui-selectonemenu .ui-selectonemenu-label {
	width: 980px !important;
}

/*Estilo para combo box de Ejes PND */
.comboEje .ui-selectonemenu {
	width: 400px !important;
}

.comboEje .ui-selectonemenu .ui-selectonemenu-label {
	width: 380px !important;
}

/*Estilo para combo box de entidadesk */
.comboEnt .ui-selectonemenu {
	width: 700px !important;
}

.comboEnt .ui-selectonemenu-label {
	width: 680px !important;
}

/*Estilo para el combobox*/
.comboMotivo .ui-selectonemenu {
	width: 170px !important;
}

.comboMotivo .ui-selectonemenu-label {
	width: 150px !important;
}

/*Estilo dataList para dataTable*/
.ui-datalist-data {
	border: 0px;
}

.ui-datalist-content {
	border: 0px;
}

/**Estilo para growl*/
.ui-growl-item {
	font-size: 11px !important;
	height: 27px !important;
}

.ui-growl-message {
	float: left !important;
	margin: -33px 37px;
	padding: 0 0 5px;
	width: 319px !important;
}

.ui-growl-item-container {
	margin: 0 -41px !important;
	opacity: 0.90 !important;
	position: relative;
	width: 356px !important;
}

/* Estilo para campos solo lectura*/
input[readonly="readonly"] {
	background-color: gray !important;
	color: white !important;
}
/* Estilo para text Area solo lectura*/
inputTextarea[readonly] {
	background-color: gray !important;
	color: white !important;
}

/*Estilo para titulo de dialogos*/
.ui-draggable .ui-dialog-titlebar {
	background-color: #074269 !important;
}

/* Estilo para personalizar los errores*/
.ui-inputfield.ui-state-error, .ui-state-error .ui-inputfield {
	background-color: #F9DB9E !important;
	border: 1px inset !important;
	border-color: white !important;
	color: #074269 !important;
	font-weight: bold !important;
}

/**********************************************************
  			ESTILO PARA PERSONALIZAR LA TABLA
 **********************************************************/
.ui-datatable table {
	font-size: 11px !important;
	text-align: center;
}

/*Estilo para alternación filas tabla */
.ui-datatable-even {
	background: #FFFFFF !important;
}

.ui-datatable-odd {
	background: #FDF9F2 !important;
}

/**Estilo para el subrayado */
.ui-state-highlight {
	background: #F9DB9E !important;
}

/***************************************************************************************
									ESTILO PARA LOS ICONOS
*****************************************************************************************/
.ui-state-default .ui-icon-nuevo {
	background-image: url(#{ resource [ 'img/iconos/negro:iconoNuevo16x16.png' ]
}

);
width


















:









 









16
px


















;
height


















:









 









16
px


















;
}
.ui-state-default .ui-icon-guardar {
	background-image: url(#{ resource [ 'img/iconos/negro:iconoGuardar16x16.png' ]
}

);
width


















:









 









16
px


















;
height


















:









 









16
px


















;
}
.ui-state-default .ui-icon-editar {
	background-image: url(#{ resource [ 'img/iconos/negro:iconoEditar16x16.png' ]
}

);
width


















:









 









16
px


















;
height


















:









 









16
px


















;
}
.ui-state-default .ui-icon-eliminar {
	background-image: url(#{ resource [ 'img/iconos/negro:iconoEliminar16x16.png' ]
}

);
width


















:









 









16
px


















;
height


















:









 









16
px


















;
}
.ui-state-default .ui-icon-buscar {
	background-image: url(#{ resource [ 'img/iconos:iconoBuscar16x16.png' ]
}

);
width


















:









 









16
px


















;
height


















:









 









16
px


















;
}
.ui-state-default .ui-icon-cargar {
	background-image: url(#{ resource [ 'img/iconos:iconoCargar16x16.png' ]
}

);
width


















:









 









16
px


















;
height


















:









 









16
px


















;
}
.ui-state-default .ui-icon-excel {
	background-image: url(#{ resource [ 'img/iconos:iconoExcel16x16.png' ]
}

);
width


















:









 









16
px


















;
height


















:









 









16
px


















;
}
.ui-state-default .ui-icon-pdf {
	background-image: url(#{ resource [ 'img/iconos:iconoPdf16x16.png' ]
}

);
width


















:









 









16
px


















;
height


















:









 









16
px


















;
}
.ui-state-default .ui-icon-anadir {
	background-image: url(#{ resource [ 'img/iconos:iconoAnadir16x16.png' ]
}

);
width


















:









 









16
px


















;
height


















:









 









16
px


















;
}
.ui-state-default .ui-icon-quitar {
	background-image: url(#{ resource [ 'img/iconos:iconoQuitar16x16.png' ]
}

);
width


















:









 









16
px


















;
height


















:









 









16
px


















;
}
.ui-state-default .ui-icon-ingresar {
	background-image: url(#{ resource [ 'img/iconos:iconoIngresar16x16.png' ]
}

);
width


















:









 









16
px


















;
height


















:









 









16
px


















;
}
.ui-state-default .ui-icon-regresar {
	background-image: url(#{ resource [ 'img/iconos:iconoRegresar16x16.png' ]
}

);
width


















:









 









16
px


















;
height


















:









 









16
px


















;
}
.ui-state-default .ui-icon-correo {
	background-image: url(#{ resource [ 'img/iconos:iconoCorreo16x16.png' ]
}

);
width


















:









 









16
px


















;
height


















:









 









16
px


















;
}
.ui-state-default .ui-icon-infor {
	background-image: url(#{ resource [ 'img/iconos:iconoInfo16x16.png' ]
}

);
width


















:









 









16
px


















;
height


















:









 









16
px


















;
}
.ui-state-default .ui-icon-sucursales {
	background-image: url(#{ resource [ 'img/iconos:iconoSucursal16x16.png' ]
}

);
width


















:









 









16
px


















;
height


















:









 









16
px


















;
}
.ui-state-default .ui-icon-cancelar {
	background-image: url(#{ resource [ 'img/iconos/negro:iconoCancelar16x16.png' ]
}

);
width


















:









 









16
px


















;
height


















:









 









16
px


















;
}
.ui-state-default .ui-icon-calendario {
	background-image: url(#{ resource [ 'img/iconos:iconoCalendario16x16.png' ]
}

);
width


















:









 









16
px


















;
height


















:









 









16
px


















;
}
.ui-state-default .ui-icon-revisar {
	background-image: url(#{ resource [ 'img/iconos:iconoRevisar16x16.png' ]
}

);
width


















:









 









16
px


















;
height


















:









 









16
px


















;
}
.ui-state-default .ui-icon-copiar {
	background-image: url(#{ resource [ 'img/iconos:iconoCopiar16x16.png' ]
}

);
width


















:









 









16
px


















;
height


















:









 









16
px


















;
}
.ui-state-default .ui-icon-procesar {
	background-image: url(#{ resource [ 'img/iconos:iconoProcesar16x16.png' ]
}

);
width


















:









 









16
px


















;
height


















:









 









16
px


















;
}
.ui-state-default .ui-icon-imprimir {
	background-image: url(#{ resource [ 'img/iconos:iconoImprimir16x16.png' ]
}

);
width


















:









 









16
px


















;
height


















:









 









16
px


















;
}
.tablaFiltro {
	
}

.tablaFiltro .ui-inputfield {
	width: 100px !important;
}

.tablaHorario .ui-datatable thead th, .ui-datatable tbody td,
	.ui-datatable tfoot td {
	border: none !important;
}

.tablaHorario .ui-outputlabel {
	font-size: 10px !important;
}

.estiloTotal {
	font-size: 14px;
	font-weight: bold;
}

.filaSeleccionadaTabla {
	background-color: #fca752 !important;
	background-image: none !important;
	color: #000000 !important;
}

.spinnerMotivo input {
	width: 160px !important;
}

.inputMotivo.ui-inputfield {
	width: 160px !important;
	font-size: 11px !important;
}

.campoSpinnerCal input {
	width: 60px !important;
}

.campoSpinnerHom input {
	width: 150px !important;
}

.checkboxEsp {
	text-align: justify !important;
}

.checkboxEsp label {
	margin-right: 3px !important;
	font-size: 10px !important;
}

.filaEliminada {
	background-color: #F6D8CE !important;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.boton
	{
	background: #85B053 !important;;
	color: white !important;
	/*url('/sipeipr/javax.faces.resource/images/ui-bg_glass_85_dfeffc_1x400.png.sen?ln=primefaces-redmond') 50% 50% repeat-x*/
}

/*****************************************************************************************/