# conda create --name saturdays_env python=3.8.3
# conda activate saturdays_env

jupyter==1.0.0 # pip install jupyter
ipykernel==6.8.0 # pip install ipykernel
# python -m ipykernel install --user --name saturdays_env --display-name "Python (saturdays_env)"
pandas==1.4.0 # pip install pandas

tika=1.24 # pip install tika
# pdfminer3k==1.3.4 # pip install pdfminer3k
# textract==1.6.4 # pip install textract
# pdfplumber==0.6.0 # pip install pdfplumber