figures/sigmoid_func.png
figures/heatmap.png
figures/barchart1.png
figures/barchart2.png
figures/barchart3.png
figures/article_pt1.png
figures/article_pt2.png
figures/safe_driver_registro.jpg
figures/safe_driver_register.jpg
figures/safe_driver_perfil.jpg
figures/safe_driver_mapa1.jpg
notebooks/.ipynb_checkpoints/
