.cap0 {
    fill: #FFA100;
}

.cap1 {
    fill: #E62F00;
}

.cap2 {
    fill: #F84400;
}

.cap3 {
    fill: #FF8600;
}

.cap4 {
    fill: #FF5D00;
}

.cap5 {
    fill: #fff70e;
}

.cap6 {
    fill: #E62F00;
}

.cap7 {
    fill: #CE0045;
}

.cap8 {
    fill: #D51570;
}

.cap9 {
    fill: #982B95;
}

.cap10 {
    fill: #7C1797;
}

.cap11 {
    fill: #4C008F;
}

.cap12 {
    fill: #8B6ACE;
}

.cap13 {
    fill: #595DC7;
}

.cap14 {
    fill: #2C67C9;
}

.cap15 {
    fill: #0054A3;
}

.cap16 {
    fill: #068495;
}

.cap17 {
    fill: #009283;
}

.cap18 {
    fill: #008455;
}

.cap19 {
    fill: #287121;
}

.cap20 {
    fill: #54AB00;
}