.rangeBar {
    width: 1.2rem;
    position: fixed;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
}

section.map {
    max-height: 80vh;
    max-width: 80vw;
    position: relative;
    top: 8rem;
    z-index: -1;
}