.flaying {
    position: fixed;
    top: auto;
    left: 50%;
    transform: translateX(-50%);
}

nav {
    justify-self: center;
    background-color: var(--bColor1);
    box-shadow: 0px 5px 20px 0px var(--bColor3);
    border-radius: 2rem;
    width: 26rem;
    margin: auto;
    margin-top: 2rem;
}

nav > ul {
    display: inline-flex;
    list-style: none;
}

nav > ul li:nth-child(1) {
    border-radius: 2rem 0 0 2rem;
    border: 0.4rem solid var(--bColor1);
    border-right: none;
}

nav > ul li:nth-child(2) {
    border-radius: 0 2rem 2rem 0;
    border: 0.4rem solid var(--bColor1);
    border-left: none;
}

nav h4 {
    width: 12rem;
    padding: .5rem;
    text-align: center;
}

section.navOpc {
    text-align: center;
    max-width: 80%;
}

section.navOpc > div.on{
    display: inline-flex;
}

section.navOpc > div {
    margin: 1rem;
    padding: .5rem;
    display: none;
    overflow: auto;
    max-width: 80vh;
    background-color: var(--bColor1);
    border-radius: 10rem;
}

section.navOpc h4 {
    padding: .5rem 2rem;
    text-align: center;
}

section.navOpc h4:hover{
    border-bottom: var(--bColorR);
    border-bottom-width: 0.2rem;
    border-bottom-style: solid;
}