* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    color: white;
  }

body{
    background-image: url('coral.jpg');
}

.form-prediccion{
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.form-prediccion h4{
    font-size: 22px;
    margin-bottom: 20px;
}

.controls{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
}

.form-prediccion p{
    height: 40px;
    text-align: center;
    font-size: 18px;
}

.form-prediccion .botons{
    width: 100%;
    background: salmon;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}


header{
 
    overflow: hidden;
}

#top-header{
         
    text-align: center;
    height: 120px;
}


#logo{
    float: left;
    padding: none;
    margin: none;
    height: 10px;
    width: 50%;
}
 
#logo img{
    width: 30%;
    float: left;
    padding: 10px 0px;
}  

#menu{
    float: right;
    width: 90%;
    height: 100%;
    margin: none;
}
     
#menu ul{
    text-align: center;
    float: right;
    margin: none;
    background: #0074D9;
}
     
#menu li{
    display: inline-block;
    padding: none;
    margin: none;
}
     
#menu li a, #menu li span{
    display: inline-block;
    padding: 0em 1.5em;
    text-decoration: none;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 50px;
}
     
#menu li a{
         
    color: #FFF;
}
     
#menu li:hover a, #menu li span{
    background: #FFF;
    color: #0074D9;
    border-left: 1px solid #0074D9;
    text-decoration: none;
}