#main {
    margin: auto;
    padding: 1rem;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 16px;
    line-height: 1.6;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
}

h1 small {
    font-size: 0.5em;
    font-style: italic;
}

.text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
}

.instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
    padding: 1.5rem;
    border-radius: 8px;
}

.instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
}

.instructions strong {
    color: rgb(var(--accent-light));
}

.link-card-grid {
    width: 100%;
    max-width: 1350px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-evenly;
    padding: 0;
    margin: 0 auto;
}

.calorie-intake {
    text-align: center;
    font-size: 1.5em;
    color: #ddd;
}

.calorie-intake > .kcal {
    font-size: 1.1em;
    font-weight: 600;
    color: #fff;
}