<div class="flaying">
    <nav>
        <ul>
            <li>
                <h4>{{ view.kwargs.month }}</h4>
            </li>
            <li>
                <h4>{{ view.kwargs.year }}</h4>
            </li>
        </ul>
    </nav>

    <section class="navOpc">
        <div>
            {% for i in maps.1 %}
                <a href="{% url 'IArosa:map' i view.kwargs.year %}">
                    <h4>{{ i }}</h4>
                </a>
            {% endfor %}
        </div>
        <div>
            {% for j in maps.2 %}
                <a href="{% url 'IArosa:map' view.kwargs.month j %}">
                    <h4>{{ j }}</h4>
                </a>
            {% endfor %}
        </div>
    </section>
</div>
