{% extends "base.html" %}

{% block css %}
  <link href="{{ url_for('static', filename='css/error.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="noise"></div>
<div class="overlay"></div>
<div class="terminal">
  <h1>Error <span class="errorcode">404</span></h1>
  <p class="output">The page you are looking for might have been removed, had its name changed or is temporarily unavailable.</p>
  <p class="output">Please <a href="{{ url_for('index') }}">return to the homepage</a>.</p>
  <p class="output">Good luck.</p>
</div>
{% endblock %}