{% extends "base.html" %}

{% block css %}
{{ super() }}
{% endblock %}

{% block content %}
<div>
    <div>
        <br >
    </div>
    <div class="container">
        <h2>El equipo se conformó por:</h2>
        <ul>
            <li>WILSON  GABRIEL ARGUELLO</li>
            <li>MAVELIN ATI HERDOIZA</li>
            <li>CARLOS ALBERTO CARGUA VILLALVA</li>
            <li>DIANA CAROLINA CHACÓN ANDRADE</li>
            <li>JUAN PABLO MUÑOZ  DAVILA</li>
            <li>ROMMEL GUTIÉRREZ ROA</li>
        </ul>
    </div>
</div>
{% endblock %}
